*{
    margin:0px;
    padding:0px;
}
html{
    scroll-behavior: smooth;
}
#navbar{
    display:flex;
    align-items: center;
    position:sticky;
    top:0px;
}
#navbar::before{
   content: '';
   position:absolute;
   z-index: -1;
   background-color: black;
   height:100%;
   width:100%;
   top: 0px;
   left:0px;
   opacity:0.4;

}
#navbar ul{
    display:flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li a{
    color:white;
    display: block;
    padding:10px;
    text-decoration: none;
}
#navbar ul li a:hover{
    background-color: black;
    color:rgb(40, 218, 218)
}
#navbar ul li a:active{
    background-color: black;
    color:rgb(40, 218, 218);
}
#logo{
    margin:0px 20px;
}
#logo img{
    height: 50px;
    width:50px;
    border-radius: 100%;
    margin:5px 12px;
}
#home{
    display:flex;
    flex-direction: column;
    padding:10px 200px;
    justify-content:center;
    align-items:center;
    height:659px;
} 
#home::before{
   content:'';
   height:743px;
   width:100%;
   z-index: -1;
   position:absolute;
   top: 0px;
   left:0px;
   background:url(img/logo.jpg) no-repeat center center/cover;
   opacity:0.89;

}
#home h1{
    text-align: center;
    color:white;
   
}
#home p{
    text-align: center;
    color:white;
    font-size:2rem;
}
/* .pdtcon{
    /* height: 580px; */
 
/* .pdtcon::before{
    content: "";
    opacity:0.8;
    height:580px;
    width:100%;
    z-index: -1;
    position:absolute;
    /* background: url("img/bg.jpg")no-repeat center center/cover; 
}*/
#products{
    display:flex;
    /* flex-direction: column; */
    margin:30px;
    /* width: 100%; */
    justify-content: center;
    align-items:center;
    /* flex-direction: column; */
}
.box{
    border: 2px solid red;
    padding:10px;
    margin:10px;
    border-radius:24px;
    /* display:block; */
    /* height:350px; */
    width: 100%;
    
}
.box p{
    text-align: center;
}
.box img{
    height: 300px;
    width:300px;
    padding:10px;
    display: block;
    margin:auto;
    border-radius: 50px;
}

#contact{
  position: relative;
}
#contact h1{
    color:rgb(15, 173, 178);
  }
#cform{
    display: flex;
    justify-content: center;
    align-self: center;
}
#cform form input{
    display: block;
    margin: 0.5rem;
    padding:0.5rem;
}
#cform form label{
   font-size: 1.5rem;
}
#contact::before{
    content: "";
    opacity:0.7;
    height:100%;
    width:100%;
    z-index: -1;
    position:absolute;
    background: url("img/bg.jpg")no-repeat center center/cover;
}
#chat img{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    /* border: 2px solid red; */
    position: fixed;
    bottom: 4px;
    right: 4px
}
.hprimary{
    font-size: 3rem;
    padding:10px;
    text-align: center;
    /* color: white;     */
}
.hsec{
    font-size: 2rem;
    padding:10px;    
}
.center{
    text-align: center;
}
footer{
    background-color: black;
    color: white;
}